.program-short {
  @include flex(flex-start, stretch, nowrap);
  padding: 40px 104px 40px 0;
  background-color: $white;
  overflow: hidden;
  @include trans();
  @media (max-width: 1440px) {
    padding: 20px 60px 20px 0;
  }
  @media (max-width: 1280px) {
    padding-right: 40px;
  }
  @media (max-width: 1280px) {
    padding: 10px 20px 10px 0;
  }
  &.close {
    height: 0;
    padding: 0;
  }
  &.premiere {
    .sign {
      background-color: $orange;
    }
  }
  &.online {
    .program-short__time {
      .time {
        color: $red;
      }
      .sign {
        background-color: $red;
      }
    }
    .program-short__tags a {
      &.on-line {
        background-color: $red;
        color: $white;
        &::before {
          background-color: $white;
        }
      }
    }
    .program-short__title {
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  &__time {
    @include flex(center, center, nowrap);
    flex-direction: column;
    width: 325px;
    min-width: 325px;
    position: relative;

    .time {
      @include font(60px, 900, normal, $black, 1);
    }

    .sign {
      @include font(15px, 300, normal, $white, 1);
      padding: 6px 10px;
      margin-bottom: 10px;
    }

    @media (max-width: 1440px) {
      width: 240px;
      min-width: 240px;

      .time {
        font-size: 40px;
      }

      .sign {
        font-size: 12px;
        padding: 4px 8px;
      }
    }
    @media (max-width: 1024px) {
      width: 160px;
      min-width: 160px;
    }
    @media (max-width: 768px) {
      .time {
        font-size: 32px;
      }
    }
    @media (max-width: 540px) {
      width: 100px;
      min-width: 100px;
      .time {
        font-size: 20px;
      }
      .sign {
        font-size: 10px;
        padding: 2px 4px;
      }
    }
  }

  &__container {
    @include flex(flex-start, stretch, nowrap);
  }

  &__preview {
    display: block;
    width: 185px;
    min-width: 185px;
    margin-right: 24px;
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      @include trans();
    }
    &:hover {
      &::before {
        box-shadow: inset 0 0 0 3px $red;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__title {
    @include font(36px, 300, normal, $black, 1);
    text-decoration: none;
    @include trans();
    &:hover,
    &:focus,
    &:active {
      color: $red;
    }

    @media (max-width: 1440px) {
      font-size: 30px;
    }
    @media (max-width: 540px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__tags {
    margin-top: 10px;
    margin-bottom: 10px;

    a {
      display: inline-block;
      margin-right: 20px;
      padding: 6px 14px;
      border-radius: 5px;
      border: 1px solid $red;
      @include font(16px, 300, normal, $red, 1);
      text-decoration: none;
      @include trans();
      &:hover,
      &:focus,
      &:active {
        background-color: $red;
        color: $white;
        &.on-line {
          &::before {
            background-color: $white;
          }
        }
      }

      &.on-line {
        &::before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $red;
          vertical-align: top;
          margin-top: 4px;
          margin-right: 8px;
          @include trans();
          @media (max-width: 1440px) {
            margin-top: 2px;
          }
        }
      }

      @media (max-width: 1440px) {
        padding: 4px 8px;
        font-size: 14px;
      }
      @media (max-width: 1024px) {
        margin-right: 10px;
      }
      @media (max-width: 768px) {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__excerpt {
    @include font(18px, 300, normal, $black, 25px);
    margin-bottom: 0;
    margin-top: 0;
    @media (max-width: 1440px) {
      font-size: 16px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
