.popular {
  width: 100%;
  padding-top: 72px;
  background-color: $white;
  overflow: hidden;

  &__container {
    width: 1520px;
    margin: 0 auto;
  }

  &__title {
    margin: 0 auto 32px;
    @include font(60px, 900, normal, $black, 64px);
    text-align: center;
    text-transform: uppercase;
  }

  &__news {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;

    max-height: 900px;
  }

  &__item {
    margin: 0 20px 40px;
  }
}
