.popular {
  width: 100%;
  padding-top: 72px;
  background-color: $white;
  overflow: hidden;

  &__container {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
    @media (max-width: 1600px) {
      max-width: 1200px;
    }
    @media (max-width: 1024px) {
      max-width: 760px;
    }
    @media (max-width: 540px) {
      max-width: 380px;
    }
  }

  &__col {
    width: 25%;
    @media (max-width: 1024px) {
      width: 50%;
    }
    @media (max-width: 540px) {
      width: 100%;
    }
  }

  &__title {
    margin: 0 auto 32px;
    @include font(60px, 900, normal, $black, 64px);
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      font-size: 40px;
      line-height: 48px;
    }
    @media (max-width: 540px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__news {
    @include flex(center, flex-start, nowrap);

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 0 20px 40px;
  }
}
