@font-face {
  font-family: 'OnePlusOne';
  src: url('../fonts/OnePlusOne2015-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/OnePlusOne2015-Light.otf')  format('opentype'),
	     url('../fonts/OnePlusOne2015-Light.woff') format('woff'), url('../fonts/OnePlusOne2015-Light.ttf')  format('truetype'), url('../fonts/OnePlusOne2015-Light.svg#OnePlusOne2015-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OnePlusOne';
  src: url('../fonts/OnePlusOne2015-LightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/OnePlusOne2015-LightItalic.otf')  format('opentype'),
	     url('../fonts/OnePlusOne2015-LightItalic.woff') format('woff'), url('../fonts/OnePlusOne2015-LightItalic.ttf')  format('truetype'), url('../fonts/OnePlusOne2015-LightItalic.svg#OnePlusOne2015-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'OnePlusOne';
  src: url('../fonts/OnePlusOne2015-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/OnePlusOne2015-Regular.otf')  format('opentype'),
	     url('../fonts/OnePlusOne2015-Regular.woff') format('woff'), url('../fonts/OnePlusOne2015-Regular.ttf')  format('truetype'), url('../fonts/OnePlusOne2015-Regular.svg#OnePlusOne2015-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OnePlusOne';
  src: url('../fonts/OnePlusOne2015-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/OnePlusOne2015-Italic.otf')  format('opentype'),
	     url('../fonts/OnePlusOne2015-Italic.woff') format('woff'), url('../fonts/OnePlusOne2015-Italic.ttf')  format('truetype'), url('../fonts/OnePlusOne2015-Italic.svg#OnePlusOne2015-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OnePlusOne';
  src: url('../fonts/OnePlusOne2015-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/OnePlusOne2015-MediumItalic.otf')  format('opentype'),
	     url('../fonts/OnePlusOne2015-MediumItalic.woff') format('woff'), url('../fonts/OnePlusOne2015-MediumItalic.ttf')  format('truetype'), url('../fonts/OnePlusOne2015-MediumItalic.svg#OnePlusOne2015-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'OnePlusOne';
  src: url('../fonts/OnePlusOne2015-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/OnePlusOne2015-BoldItalic.otf')  format('opentype'),
	     url('../fonts/OnePlusOne2015-BoldItalic.woff') format('woff'), url('../fonts/OnePlusOne2015-BoldItalic.ttf')  format('truetype'), url('../fonts/OnePlusOne2015-BoldItalic.svg#OnePlusOne2015-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'OnePlusOne';
  src: url('../fonts/OnePlusOne2015-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/OnePlusOne2015-Heavy.otf')  format('opentype'),
	     url('../fonts/OnePlusOne2015-Heavy.woff') format('woff'), url('../fonts/OnePlusOne2015-Heavy.ttf')  format('truetype'), url('../fonts/OnePlusOne2015-Heavy.svg#OnePlusOne2015-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'OnePlusOne';
  src: url('../fonts/OnePlusOne2015-HeavyItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/OnePlusOne2015-HeavyItalic.otf')  format('opentype'),
	     url('../fonts/OnePlusOne2015-HeavyItalic.woff') format('woff'), url('../fonts/OnePlusOne2015-HeavyItalic.ttf')  format('truetype'), url('../fonts/OnePlusOne2015-HeavyItalic.svg#OnePlusOne2015-HeavyItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}
