@font-face {
  font-family: 'oneplusone';
  src: url('../fonts/oneplusone2015-light-webfont.woff2') format('woff2'),
       url('../fonts/oneplusone2015-light-webfont.woff') format('woff'),
       url('../fonts/oneplusone2015-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'oneplusone';
  src: url('../fonts/oneplusone2015-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/oneplusone2015-lightitalic-webfont.woff') format('woff'),
       url('../fonts/oneplusone2015-lightitalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'oneplusone';
  src: url('../fonts/oneplusone2015-regular-webfont.woff2') format('woff2'),
       url('../fonts/oneplusone2015-regular-webfont.woff') format('woff'),
       url('../fonts/oneplusone2015-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'oneplusone';
  src: url('../fonts/oneplusone2015-italic-webfont.woff2') format('woff2'),
       url('../fonts/oneplusone2015-italic-webfont.woff') format('woff'),
       url('../fonts/oneplusone2015-italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'oneplusone';
  src: url('../fonts/oneplusone2015-mediumitalic-webfont.woff2') format('woff2'),
       url('../fonts/oneplusone2015-mediumitalic-webfont.woff') format('woff'),
       url('../fonts/oneplusone2015-mediumitalic-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'oneplusone';
  src: url('../fonts/oneplusone2015-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/oneplusone2015-bolditalic-webfont.woff') format('woff'),
       url('../fonts/oneplusone2015-bolditalic-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'oneplusone';
  src: url('../fonts/oneplusone2015-heavy-webfont.woff2') format('woff2'),
       url('../fonts/oneplusone2015-heavy-webfont.woff') format('woff'),
       url('../fonts/oneplusone2015-heavy-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'oneplusone';
  src: url('../fonts/oneplusone2015-heavyitalic-webfont.woff2') format('woff2'),
       url('../fonts/oneplusone2015-heavyitalic-webfont.woff') format('woff'),
       url('../fonts/oneplusone2015-heavyitalic-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
