$f-size: 16px;
$lh: $f-size * 1.5;

// Colors
$black: #000;
$white: #fff;
$red: #ff0030;
$main-bg: #efeff2;
$orange: #ff9000;
$grey: #727272;
$blue: #61a8e8;
$dark-grey: #2b2b2b;

// Font family
$ff: #{'OnePlusOne, sans-serif'};

$easing: ease-in-out;
